<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Conditional Rendering</title>
        <script type="text/javascript" src="https://unpkg.com/vue@2.0.7/dist/vue.js">
        </script>
    </head>
    <body>
        <div id="exercise">
            <p v-if="show">You can see me!</p> 
            <p v-else>No, you see me!</p>
            <template v-if="show">
                <h2>Hide-a-Heading</h2>
                <p>Do you also see me?</p>
            </template>
            <p>Can you also see me?</p>
            <button @click="show = !show">Switch</button>
        </div>     

        <script type="text/javascript" charset="utf-8">
            new Vue({
                el: '#exercise',
                data: {
                    show: true
                },
                methods: {
                }
            });    
        </script>

    </body>
</html>
